html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  background-color: #17293F;
}

p{
	margin: 0 0 0 0;
}

.logo{
  height: 20%;
  width: 100%;
  background-color: #17293F;
}

#top{
    width: 100%;
    min-width: 1024px;
    height: 60%;
    max-height: 1202px;
	  float: left;
    background-image: url('../images/fundo.jpg');
    background-size:100% 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
    -moz-background-size: 100% 100%;
}

.footer{
  float: right;
	width: 100%;
	height: 20%;
  background-color: #17293F;
}

.formulario{
  font-family: 'Lato', sans-serif;
  color: #fff;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #17293F;
}

.texto{
  font-family: 'Lato', sans-serif;
  color: #fff;
  float:right;
  width: 50%;
  height: 100%;
  background-color: #17293F;
  text-align: center;
}

.btn{
  margin: 0 0 0 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-danger {
  color: #fff;
  background-color: #b91e29;
  border-color: #b91e29;
}

.form{
  width: 185px;
  height: 18px;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}