/* CSS Document */

.spacer-1x{ margin-top:10px; }
.spacer-2x{ margin-top:20px; }
.spacer-3x{ margin-top:30px; }
.spacer-4x{ margin-top:40px; }

.container{
	width:960px;
}

.top-area-1, .top-area-2, .top-area-3{
	color:#FFF;
	padding:0px 15px;
	width:100%;
}

a, a:hover, .top-area-1 p{
	color:#FFF;
}

.top-area-1{
	background-color:#1D3956;
	line-height:25px;
}

.top-area-1 span{
	display:inline;
	margin-right:15px;
}

.top-area-1 p{
	margin:0px;
	padding:8px 0px;
	font-weight:bold;
}

.top-area-1 a:hover{
	color:#5AA4E1;
	text-decoration:none;
}

.top-area-2{
	background-color:#17293E;
	min-height:100px;
}

.top-area-2 ul{
	margin:54px 0px;
	margin-left:20px;
}

.top-area-2 ul li{
	float:left;
	padding:0px 10px;
	margin-right:25px;
}

.top-area-2 ul li a{
	color:#FFF;
	text-transform:uppercase;
}

.top-area-2 ul li.active > a, .top-area-2 ul li a:hover{
	color:#5AA4E1;
	text-decoration:none;
}

.top-slider{
	padding:0px;
	max-height:400px;
	position:relative;
}

.top-area-3{
	padding:0px;
	
	min-height:200px;
	position:relative;
}

.cus-label{
	position:absolute;
	background-color:rgba(23,41,62,0.7);
	left:0px;
	bottom:15px;
}

.cus-label h3{
	padding:20px 30px 20px 100px;
	margin:0px;
}

.prev-control img, .next-control img{
	height:60px;
	width:auto;
}

.prev-control, .next-control{
	position:absolute;
	top:50%;
	margin-top:-30px;
	z-index:150;
}

.prev-control{
	left:0px;
}

.next-control{
	right:0px;
}

.diamond{
	width:100%;
	text-align:center;
}

.diamond img{
	width:50px;
	height:auto;
}

h2, p{
	color:#162A3E;
}

.condense{
	padding:0px 150px;
}

.img-holder{
	display:inline-block;
	text-align:center;
	margin:auto;
	height:150px;
	overflow:hidden;
}

.home-bottom{
	background:#0D2E47 url(http://localhost/innovare/html/style/images/home-bg.jpg) center center no-repeat;
	background-size:auto 100%;
	min-height:500px;
	position:relative;
}

.home-bottom-ribbon{
	position:absolute;
	height:50px;
	width:100%;
	background-color:#8E8E8E;
	bottom:0px;
}

.home-bottom h2, .top-area-2 p{
	color:#FFF;
}

.footer-1, .footer-1 img{
	width:100%;	
}

footer{
	background-color:#17293E;
	min-height:300px;
	color:#FFF;
	padding:25px 0px;
}

.copyright{
	background-color:#1D3956;
	width:100%;
	padding:10px 0px;
}

footer p, .copyright p, footer a, footer a:hover{
	color:#FFF;
	margin:0px;
}

footer textarea.form-control{
	height:130px;
}

.btn{
	border-radius:5px;
}

.box-1{
	background-color:#B91E29;
	width:100%;
	min-height:200px;
	display:block;
	margin-bottom:15px;
}

.box-2{
	position:relative;
	background-color:#17293E;
	width:100%;
	min-height:240px;
	display:block;
	margin-bottom:15px;
}

.box-caption{
	position:absolute;
	bottom:0px;
	width:100%;
	background-color:#1F3C5B;
	color:#FFF;
	padding:8px 25px 25px 25px;
}

.box-2-comp{
	position:relative;
	background-color:#17293E;
	width:100%;
	min-height:240px;
	display:block;
	margin-bottom:15px;
}

.box-2-comp img{
	width: 530px;
}

#box-loader{
	display: none;
	min-width: 66px;
	float: right;
}

#box-loader-mail{
	display: none;
	width: 66px;
	float: right;
}